@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: '#000';
        --foreground: '#FFFF';
        --card: '';
        --card-foreground: '';
        --popover: '';
        --popover-foreground: '';
        --primary: '#E0DCC1';
        --primary-foreground: '';
        --secondary: '';
        --secondary-foreground: '';
        --muted: '';
        --muted-foreground: '';
        --accent: '';
        --accent-foreground: '';
        --destructive: '';
        --destructive-foreground: '';
        --border: '#0C0B0D';
        --input: '';
        --ring: '';
        --radius: '';
        --chart-1: '';
        --chart-2: '';
        --chart-3: '';
        --chart-4: '';
        --chart-5: '';
    }

    .dark {
        --background: '';
        --foreground: '';
        --card: '';
        --card-foreground: '';
        --popover: '';
        --popover-foreground: '';
        --primary: '';
        --primary-foreground: '';
        --secondary: '';
        --secondary-foreground: '';
        --muted: '';
        --muted-foreground: '';
        --accent: '';
        --accent-foreground: '';
        --destructive: '';
        --destructive-foreground: '';
        --border: '';
        --input: '';
        --ring: '';
        --chart-1: '';
        --chart-2: '';
        --chart-3: '';
        --chart-4: '';
        --chart-5: '';
    }
}

@layer base {
    * {
        @apply transition-all duration-500;
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        overflow-x: hidden;
        overscroll-behavior: none;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ed3d3d;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0c0b0d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0c0b0d;
}
