@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url("./fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-plusJakartaSans {
    font-family: var(--font-plus-jakarta-sans);
}

.font-outfit {
    font-family: var(--font-outfit);
}

@layer base {
    :root {
        --background: '#000';
        --foreground: '#FFFF';
        --card: '';
        --card-foreground: '';
        --popover: '';
        --popover-foreground: '';
        --primary: '#E0DCC1';
        --primary-foreground: '';
        --secondary: '';
        --secondary-foreground: '';
        --muted: '';
        --muted-foreground: '';
        --accent: '';
        --accent-foreground: '';
        --destructive: '';
        --destructive-foreground: '';
        --border: '#2D384D';
        --input: '';
        --ring: '';
        --radius: '';
        --chart-1: '';
        --chart-2: '';
        --chart-3: '';
        --chart-4: '';
        --chart-5: '';
    }

    .dark {
        --background: '';
        --foreground: '';
        --card: '';
        --card-foreground: '';
        --popover: '';
        --popover-foreground: '';
        --primary: '';
        --primary-foreground: '';
        --secondary: '';
        --secondary-foreground: '';
        --muted: '';
        --muted-foreground: '';
        --accent: '';
        --accent-foreground: '';
        --destructive: '';
        --destructive-foreground: '';
        --border: '';
        --input: '';
        --ring: '';
        --chart-1: '';
        --chart-2: '';
        --chart-3: '';
        --chart-4: '';
        --chart-5: '';
    }
}

@layer base {
    * {
        @apply transition-all duration-500;
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        overflow-x: hidden;
        overscroll-behavior: none;
    }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ED3D3D;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ED3D3D;
}

  .gilroy-bold {
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .gilroy-medium {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
